%div.row
  %div.span12.text-center
    %img{:src => '/images/rusticipong.png', :class => ['center']}
%div.row
  %div.btn-group.offset2{:style => 'width: 100%;'}
    %a.btn.btn-large.span2{:href => '/'}Home
    %a.btn.btn-large.span2{:href => '/new_user'}Add New User
    %a.btn.btn-large.span2{:href => '/new_game'}Add Singles Results
    %a.btn.btn-large.span2{:href => '/new_doubles_game'}Add Doubles Results

