#container.container_16
  %div{:class => ['grid_16 center title']}
    %img{:src => '/images/rusticipong.png', :class => ['center']}  
  %div{:class => ['grid_16 center blueback title']}
    %div{:class => ['grid_4 center']}
      %a{:href => '/', :class => ['button']}Home  
    %div{:class => ['grid_4 center']}
      %a{:href => '/new_user', :class => ['button']}Add New User
    %div{:class => ['grid_4 center']}
      %a{:href => '/new_game', :class => ['button']}Add Singles Results
    %div{:class => ['grid_4 center']}
      %a{:href => '/new_doubles_game', :class => ['button']}Add Doubles Results
  
