%div.row
  %form.form-horizontal{ :action => "/new_doubles_game", :method => "post"}
    %fieldset
      %div.row
        %div.span6
          %b Team 1
          %div.control-group
            %label.control-label{:for => "player1"}Player 1
            %div.controls
              %select{:name => "player1", :id => "p1"}
                - @players.each do |player|
                  %option{:value => player}=player
          %div.control-group
            %label.control-label{:for => "player2"}Player 2
            %div.controls
              %select{:name => "player2", :id => "p2"}
                - @players.each do |player|
                  %option{:value => player}=player
        %div.span6
          %b Team 2
          %div.control-group
            %label.control-label{:for => "player3"}Player 3
            %div.controls
              %select{:name => "player3", :id => "p3"}
                - @players.each do |player|
                  %option{:value => player}=player
          %div.control-group
            %label.control-label{:for => "player4"}Player 4
            %div.controls
              %select{:name => "player4", :id => "p4"}
                - @players.each do |player|
                  %option{:value => player}=player
      %b Game 1:
      %div.control-group
        %label.control-label{:for => "served1"} Served:
        %div.controls
          %select{:name => "served1", :id => "s1"}
      %div.control-group
        %label.control-label{:for => "winner1"} Winner:
        %div.controls
          %select{:name => "winner1", :id => "w1"}
      %div.control-group
        %label.control-label{:for => "score1"} Score:
        %div.controls
          %input{:type => "text", :name => "score1", :id => "sc1"}
      %b Game 2:
      %div.control-group
        %label.control-label{:for => "served2"} Served:
        %div.controls
          %select{:name => "served2", :id => "s2"}
      %div.control-group
        %label.control-label{:for => "winner2"} Winner:
        %div.controls
          %select{:name => "winner2", :id => "w2"}
      %div.control-group
        %label.control-label{:for => "score2"} Score:
        %div.controls
          %input{:type => "text", :name => "score2", :id => "sc2"}
      %b Game 3:
      %div.control-group
        %label.control-label{:for => "served3"} Served:
        %div.controls
          %select{:name => "served3", :id => "s3"}
      %div.control-group
        %label.control-label{:for => "winner3"} Winner:
        %div.controls
          %select{:name => "winner3", :id => "w3"}
      %div.control-group
        %label.control-label{:for => "score3"} Score:
        %div.controls
          %input{:type => "text", :name => "score3", :id => "sc3"}
      %b Game 4 (if necessary):
      %div.control-group
        %label.control-label{:for => "served4"} Served:
        %div.controls
          %select{:name => "served4", :id => "s4"}
      %div.control-group
        %label.control-label{:for => "winner4"} Winner:
        %div.controls
          %select{:name => "winner4", :id => "w4"}
      %div.control-group
        %label.control-label{:for => "score4"} Score:
        %div.controls
          %input{:type => "text", :name => "score4", :id => "sc4"}
      %b Game 5 (if necessary):
      %div.control-group
        %label.control-label{:for => "served5"} Served:
        %div.controls
          %select{:name => "served5", :id => "s5"}
      %div.control-group
        %label.control-label{:for => "winner5"} Winner:
        %div.controls
          %select{:name => "winner5", :id => "w5"}
      %div.control-group
        %label.control-label{:for => "score5"} Score:
        %div.controls
          %input{:type => "text", :name => "score5", :id => "sc5"}
      %div.control-group
        %div.controls
          %input{:type => "submit", :value => "Send", :class => "btn btn-primary"}
%script{:type => 'text/javascript', :src => 'js/new_doubles_game.js'}