%div.row-fluid
  %div.span2.offset4
    %b Team 1
    =haml :player, :layout => false, :locals => { :n => 1 }
    =haml :player, :layout => false, :locals => { :n => 2 }
  %div.span2
    %b Team 2
    =haml :player, :layout => false, :locals => { :n => 3 }
    =haml :player, :layout => false, :locals => { :n => 4 }
%div.row-fluid
  %div.span2.offset1
    =haml :game, :layout => false, :locals => { :n => 1 }
  %div.span2
    =haml :game, :layout => false, :locals => { :n => 2 }
  %div.span2
    =haml :game, :layout => false, :locals => { :n => 3 }
  %div.span2
    =haml :game, :layout => false, :locals => { :n => 4, :necessary => false }
  %div.span2
    =haml :game, :layout => false, :locals => { :n => 5, :necessary => false }
