%div.control-group
  %label.control-label{:for => 'name'} Name:
  %div.controls
    %input{:type => 'text', :name => 'name', :class => 'text'}
%div.control-group
  %label.control-label{:for => 'email'} Email:
  %div.controls
    %input{:type => 'text', :name => 'email', :class => 'text'}
%div.control-group
  %label.control-label{:for => 'department'} Department:
  %div.controls
    %input{:type => 'text', :name => 'department', :class => 'text'}
%div.control-group
  %label.control-label{:for => 'password'} Password:
  %div.controls
    %input{:type => 'password', :name => 'password', :class => 'text'}