%div.page-header
  %h3.text-center Add New Game
%div.row-fluid
  %form.form-horizontal{ :action => '/new_game', :method => 'post'}
    =haml :new_game_inner, :layout => false
    %hr
    %div.offset4.span3
      %div.control-group
        %div.controls
          %input.btn.btn-primary.btn-large.btn-block{:type => 'submit', :value => 'Save'}
:javascript
  gametracker.newGameShown();
