body
  background-color: #8b8989

table
  background-color: #ffffff

.btn-blueback
  color: #ffffff
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25)
  background-color: #213e5f
  background-image: -moz-linear-gradient(top, #213e5f, #0044cc)
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#213e5f), to(#0044cc))
  background-image: -webkit-linear-gradient(top, #213e5f, #0044cc)
  background-image: -o-linear-gradient(top, #213e5f, #0044cc)
  background-image: linear-gradient(to bottom, #213e5f, #0044cc)
  background-repeat: repeat-x
  border-color: #0044cc #0044cc #002a80
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25)
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff213e5f', endColorstr='#ff0044cc', GradientType=0)
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false)

.btn-blueback:hover,
.btn-blueback:focus,
.btn-blueback:active,
.btn-blueback.active,
.btn-blueback.disabled,
.btn-blueback[disabled]
  color: #ffffff
  background-color: #0044cc


.btn-blueback:active,
.btn-blueback.active
  background-color: #003399 \9

.modal.modal-wide
  width: 80%
  margin-left: -40%
  left: 50%

.modal.modal-wide .form-horizontal.form-horizontal-tight .control-label
  width: 80px

.modal.modal-wide .form-horizontal.form-horizontal-tight .controls
  margin-left: 100px

//table.pp
//  background-color: #fffafa
//  border-color: #FFFFFF
//  border-spacing: 0px
//  border: 4px solid white
//  th
//    background-color: #ffe4b5
//  th, tr, td
//    border: 1px solid black
//.center
//  text-align: center
//  margin-left: auto
//  margin-right: auto
//.notice
//  text-align: center
//  color: red
//  font-size: 200%
//.displayed
//  display: block
//  margin-left: auto
//  margin-right: auto
//.orange
//  color: #ffe4b5
//.link
//  a:link, a:visited, a:active, a:focus
//    :color #2f4f4f
//    :text-decoration underline
//  a:hover
//    :color #eed5b7
//    :text-decoration none
//.title
//  padding-bottom: 25px
//.blueback
//  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #213e5f), color-stop(1, #213e5f))
//  background: -moz-linear-gradient(center top, #213e5f 5%, #213e5f 100%)
//  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#213e5f', endColorstr='#213e5f')
//  background-color: #213e5f
//  -moz-border-radius: 3px
//  -webkit-border-radius: 3px
//  border-radius: 3px
//  display: inline-block
//  color: #ffffff
//  font-family: arial
//  font-size: 16px
//  font-weight: bold
//  padding: 6px 25px
//  text-decoration: none
//  width: 880px !important
//.button
//  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #213e5f), color-stop(1, #213e5f))
//  background: -moz-linear-gradient(center top, #213e5f 5%, #213e5f 100%)
//  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#213e5f', endColorstr='#213e5f')
//  background-color: #213e5f
//  -moz-border-radius: 3px
//  -webkit-border-radius: 3px
//  border-radius: 3px
//  display: inline-block
//  color: #ffffff
//  font-family: arial
//  font-size: 16px
//  font-weight: bold
//  padding: 6px 25px
//  text-decoration: none
//  width: 170px
//.button:hover
//  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #729fcc), color-stop(1, #729fcc))
//  background: -moz-linear-gradient(center top, #729fcc 5%, #729fcc 100%)
//  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#729fcc', endColorstr='#729fcc')
//  background-color: #729fcc
//.button:active
//  position: relative
//  top: 1px